<div class="about-main">
	<h2>プリタンとは</h2>
	<p>
		学校に入学した主人公が卒業するためにを冒険するゲーム。<br>幾度となく迫ってくるからのちに果たしてこたえられるのか？！　　　　　　　　　　　　　　　　
	</p>
	<p>大学に入学した主人公(ユーザー)</p>
	<p>単位を取得するために様々な敵とクイズや問題を解いていく</p>
	<p>その取得した単位をスコアにして自作したWebページとリンクさせて他のユーザー同士でスコアの共有をする。</p>
	
	<div class="row pb-3">
		<div class="col-4">
			<img class="about-img" src="/assets/shot100.png">
		</div>
		<div class="col-4">
			<img class="about-img" src="/assets/hitumon2.png">
		</div>
		<div class="col-4">
			<img class="about-img" src="/assets/shot101.png">
		</div>
	</div>
	<div class="row">
		<div class="offset-2 col-4">
			<img class="about-img" src="/assets/situmonn.png">
		</div>
		<div class="col-4">
			<img class="about-img" src="/assets/shot102.png">
		</div>
	</div>
</div>