<div class="main top-main">
  <div class="top-message">
    <h2>プリタン！！</h2>
    <p class="intro-txt">現実世界で取れない単位をゲームでプリーズ！！！</p>
    <a href="/zip/WolfRPGEditor_224.zip" class="download-link">ゲームダウンロードはこちら！</a>
  </div>
</div>