<div class="main top-main">
  <div class="top-message">
    <h2>エラーなおったナリ〜</h2>
    <p>画像投稿ができなくて死んでる雑魚かなしい</p>
    <a href="/zip/WolfRPGEditor_224.zip" style="color: white; background-color: aqua; border-radius: 50px;">ゲームダウンロードはこちら！</a>
  </div>
</div>