<div class="main top-main">
  <div class="top-message">
    <h2>Hi! Smokers!</h2>
    <p>このサイトは実験のアプリ説明サイトにするお</p>
    <a href="/zip/WolfRPGEditor_224.zip" style="color: red;">ダウンロードはこちら！</a>
  </div>
</div>